# OS X
.DS_Store

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Ignore all except for .java files
build.xml
manifest.mf
build-impl.xml
genfiles.properties
private/private.properties
project.properties
project.xml
*.properties
private.xml
/chap3_programming_exercises/SolveLinearEquationByCramersRule/nbproject/private/
/chap3_programming_exercises/_03_Solve2x2LinearEquationByCramersRule/nbproject/private/
/chap3_programming_exercises/_04_RandomMonth/nbproject/private/
/chap3_programming_exercises/SubtractionQuiz/nbproject/private/